*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    height: 400px;
    width: 500px;
    padding-top: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#084d6e;
}
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    color: white;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inserir{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
label{
    margin-top: 40px;
    margin-left: 30px;
    font-size: 1.3em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    height: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;    
}
#botao{
    height: 30PX;
    width: 90px;
    margin-top: 20px;
    font-size: 1.15em;
    transition: linear 0.5s;
}
